<!--1. Debouncing -->
<!-- <input type="text" placeholder="Type here..." (keyup)="onEachKeyPress($event)" />
<p>Searching for- {{searchResult}}</p> -->

<!--2. Throttling -->
<!-- <input type="text" placeholder="Type here..." (keyup)="onEachKeyPress($event)" />
<p>Searching for- {{searchResult}}</p> -->

<!--3.Accordion -->
<!-- <div *ngFor="let item of accordions; let i = index" class="accordion">
  <div class="accordion-header" (click)="toggleAccordion(i)">
    <strong>{{ item.title }}</strong>
    <span>{{ item.open ? '▼' : '▶' }}</span>
  </div>
  <div class="accordion-body" *ngIf="item.open">
    <p>{{ item.content }}</p>
  </div>
</div> -->

<!--4. Progress Bar  -->
<h2>Angular Progress Bar</h2>

<div class="progress-container">
  <div class="progress-bar" [style.width.%]="progressValue"></div>
</div>

<p>{{ progressValue }}%</p>

<button (click)="decreaseProgress()">-</button>
<button (click)="increaseProgress()">+</button>
